.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
}
a:hover {
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: "Sofia", sans-serif;
}
.right-head {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
.right-head span {
  font-size: calc(10px + 1.2vw);
}

.headBars {
  display: none;
}
.cursor-point {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .headBars {
    display: block;
  }
  .right-head span {
    display: none;
  }
}
